/* General Reset */
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  background: #000000;
  color: #fff;
 /*  overflow: hidden; /* Prevent scrolling */
}

#header {
  width: 100%; /* Set width to 100% to fit within the viewport */
  height: 100vh; /* Occupy the full height of the viewport */
  background-image: url(images/Sana_Photo3.png);
  background-size: contain; /* Ensure the image is fully visible */
  background-repeat: no-repeat;
  background-position: top left; /* Position the image at the top left */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  padding: 20px; /* Add some padding around the content */
}

nav {
  position: absolute; /* Position the navigation independently */
  top: 50px; /* Place it below the logo */
  right: 40px; /* Align it to the right */
}

nav ul {
  list-style: none;
  display: flex; /* Align items in a horizontal line */
  gap: 20px; /* Add spacing between links */
}

nav ul li a {
  text-decoration: none;
  color: #fff; /* White text for better contrast */
  font-size: 16px;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #989a57;
}

.header-text {
  margin-top: 0; /* Remove margin */
  font-size: 25px;
  text-align: left; /* Center align text */
}

.header-text h1 {
  font-size: 40px;
  margin-top: 0; /* Remove margin */
  text-align: left; /* Center align text */
}
.header-text h1 span{
  color: #989a57;
}
/*-----------------ABOUT-------------------*/
#about {
  overflow-y: auto;
  padding: 90px 0;
  color: #989a57;
}
.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap ;
}
.about-col-1 {
  flex-basis: 30%; /* Reduce the basis for smaller columns */
}

.about-col-1 img {
  width: 50%; /* Set the image width smaller */
  max-width: 300px; /* Cap the maximum width */
  border-radius: 15px;
}
